* {
    padding: 0;
    margin: 0;
}
.nezha {
    max-width: 100%;
}
.nezha > img {
    width: 100%;
    height: 100%;
}
.xiaoguo {
    position: absolute;
    left: 35%;
    top: 30px;
    margin: 0 auto;
    animation:nezhatop 5s infinite;
    -moz-animation:nezhatop 5s infinite; /* Firefox */
    -webkit-animation:nezhatop 5s infinite; /* Safari and Chrome */
    -o-animation:nezhatop 5s infinite;
}
.xiaoguo > img {
    width: 100%;
    height: 100%;
}
@keyframes nezhatop {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0px, 20px, 0px);
    }
    51% {
        transform: translate3d(0px, 20px, 0px);
        /*如果多组变形 都属于 tarnsform 我们用空格隔开就好了*/
    }
    99% {
        transform: translate3d(0, 0, 0);
        /*如果多组变形 都属于 tarnsform 我们用空格隔开就好了*/
    }
}